html {
    scroll-behavior: smooth; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: aliceblue;
    background-color: black;
    min-height: 100vh;
    margin: 60px 100px;
    padding: 50px, 90px, 50px, 90px;

}

.ed-p {
    line-height: 0.5;
}

.ed-li {
    line-height: 0.5;
}

#logo {
    margin-top: 100px;
    width: 130px;
    height: 65px;
}


* {
    box-sizing: border-box;
}

.header {
    text-align: center;
    margin-bottom: 50px;
}

.footer {
    border: 1px solid black;
    text-align: center;
    color: aliceblue;
}

.main {
    border: 1px solid black;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
}

.section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: blueviolet;
}

#div-ed {
    width: 50%;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

img {
    width: 350px;
    height: 300px;
}

.circle-image{
    display: inline-block;
    border-radius: 15%;
    overflow: hidden;
    width: 320px;
    height: 320px;
}

.circle-image img{
    width:100%;
    height:100%;
    object-fit: cover;
}